{% include 'NCLabsGalleryBundle:Gallery:next.html.twig' with { 'next': next } %}
<div id="gallery-coming-soon" class="center">
    {% include 'NCLabsGalleryBundle:Gallery:preview.html.twig' with { 'images': images, 'gallery': gallery } %}
</div>